[submodule "frontend"]
	path = frontend
	url = https://github.com/krystianschmidt/wer-hat-die-maschine-gemacht-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/krystianschmidt/wer-hat-die-maschine-gemacht-backend.git
