[submodule "frontend"]
	path = frontend
	url = https://github.com/krystianschmidt/HausMeister-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/krystianschmidt/HausMeister-backend.git
